{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление записи</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="all"/>
</head>
<body>
    {% include "main/nav.html" %}

    <div class="add-post-form">
        <h1>Добавление поста</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="submit-btn">
                <input type="submit">
            </div>
        </form>
    </div>

</body>
</html>