{% extends 'base.html '%}
{% load static %}

{% block content %}
        <div class="dropdown mb-2">
            <button class="btn btn-secondary dropdown-toggle btn-light" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Категории
                <img class="mx-1" src="{% static 'icons/icons8-all-32.png' %}" alt="Catalog Icon" width="16"
                     height="16">
            </button>
            <ul class="dropdown-menu bg-light" data-bs-theme="light">
                {% for category in categories %}
                <li><a class="dropdown-item text-black" href="{% url 'home' category.slug%}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="content-wrap">
            <div class="posts">
                <h1>Записи</h1>
                {% for post in page_obj %}
                <div class="post">
                    <div class="post-img">
                        <img src="{{ post.img.url }}" width="200px" height="200px">
                    </div>
                    <div class="post-text">
                        <div class="post-title">
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </div>
                        <time class="post-date">{{ post.date }}</time>
                        <cite class="post-author">Автор: {{ post.author.username|default:'неизвестен' }}</cite>
                        <cite>Разработка</cite>
                        <div class="post-content">
                            <p>{{ post.content|truncatewords:50 }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% include "main/pagination.html" %}

{% endblock %}