{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="all"/>
</head>
<body>
    {% include "main/nav.html" %}

    <div class="container">
        <div class="post-detail">
            <div class="post-detail-img">
                <img src="{{ post.img.url }}">
            </div>
            <div class="post-detail-content">
                <div class="post-detail-header">
                    <h1>{{ post.title }}</h1>
                    <div class="post-detail-meta">
                        <time datetime="{{ post.date }}">{{ post.date }}</time>
                        <span class="author">{{ post.author.username|default:'неизвестен' }}</span>
                    </div>
                </div>
                <p>{{ post.content }}</p>
            </div>
            <a href="{% url 'edit_page' post.pk %}">Изменить статью</a>
            <a href="{% url 'del_page' post.pk %}">Удалить статью</a>
        </div>
    </div>

</body>
</html>