{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="post-detail">
            <div class="post-detail-img">
                <img src="{{ post.img.url }}">
            </div>
            <div class="post-detail-content">
                <div class="post-detail-header">
                    <h1>{{ post.title }}</h1>
                    <div class="post-detail-meta">
                        <time datetime="{{ post.date }}">{{ post.date }}</time>
                        <span class="author">{{ post.author.username|default:'неизвестен' }}</span>
                    </div>
                </div>
                <p>{{ post.content }}</p>
            </div>
            {% if post.author.username == user.username %}
            <button class="btn-post-edit"><a href="{% url 'edit_page' post.pk %}">Изменить статью</a></button>
            <button class="btn-post-delete"><a href="{% url 'del_page' post.pk %}">Удалить статью</a></button>
            {% endif %}
        </div>
        <form action="{% url 'add_comments' post.id %}" method="post">{% csrf_token %}
             {{ form.as_p }}
             <input type="submit" value="Оставить комментарий">
        </form>
    </div>

        <div class="comment-wrapper">
            {% for comment in post.comment_set.all %}
            <div class="comment-card">
                <h4>{{ comment.name }}</h4>
                <p>{{ comment.text }}</p>
                <p>{{ comment.time }}</p>
            </div>
            {% endfor %}
        </div>

{% endblock %}