{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/icons8-all-32.png' %}">
</head>
<body>
        {% include "main/nav.html" %}

        <!-- Контент на странице -->
        {% block content %} {% endblock %}
        <!-- Конец контента на странице -->
        <footer class="footer mt-auto py-3 bg-light">
         <div class="container">
             <span class="text-muted">Copyright &copy; All Blog 2024</span>
         </div>
        </footer>
</body>
</html>