@font-face {
  font-family: "Open Sans";
  src:url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: "Open Sans", "Arial", sans-serif;
  min-width: 1200px;
   margin: 0;
}

img {
   vertical-align: middle;
}

/*НАВИГАЦИЯ*/
nav.primary-navigation {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 50px 0 0 0;
    list-style: none;
}

nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid #3ca0e7;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
}

nav.primary-navigation ul li:last-child {
    border-right: 2px solid #3ca0e7;
}


nav.primary-navigation li a {
  color: black;
}

nav.primary-navigation li a:hover {
  color: #3ca0e7;
}

nav a {
  text-decoration: none;
}

/*СТАТЬИ*/

.content-wrap {
  width: 1170px;
  margin: 0 auto;
  padding: 61px 0 64px 0;
  display: flex;
  justify-content: space-between;
}

.post {
    display: flex;
}

.post-text {
    width: 367px;
    padding-left: 30px;
}

.post-title {
    width: 330px;
    margin: 0;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 20px;
}

/*ДЕТАЛИ ПОСТА*/

.container {
    max-width: 960px;
    margin: 50px auto;
    padding: 0 15px;
}

.post-detail {
    padding: 2em 0 1em;
}

.post-detail-img img {
    float: left;
    width: 300px;
    margin: 0 30px 20px -45px;
    border: 10px solid #DDDDDF;
    border-left-width: 0;
}

.post-detail h1 {
    color: #222;
    font-weight: 500;
     margin-bottom: 30px;
}

.post-detail-header {
    text-align: center;
}

.post-detail-meta {
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: .8em;
}

time,
.author {
    padding-right: 26px;
    position: relative;
}

time:after {
    content: "/";
    color: #DDDDDF;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.post-detail-content p {
       line-height: 1.5;
    margin-bottom: 1em;
    text-align: justify;
}