@import url("nav.css");
@import url("pagination.css");
@import url("users.css");
@import url("comments.css")


@font-face {
  font-family: "Open Sans";
  src:url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Open Sans", "Arial", sans-serif;
  min-width: 1200px;
  margin: 50px auto 0;
}

img {
   vertical-align: middle;
}

/*СТАТЬИ*/

.posts h1 {
    text-align: center;
}
.content-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 61px 0 64px 0;

}

.post {
    display: flex;
    margin-top: 30px;
    width: 600px;
}

.post-text {
    padding-left: 30px;
}

.post-title a {
    text-decoration: none;
    color: black;
}

.post-title {
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 20px;
    color: #222;
    font-weight: 500;
    margin-bottom: 5px;
}

.post-content p {
    width: 500px;
    margin-top: 10px;
}

/*ДЕТАЛИ ПОСТА*/

.container {
    max-width: 960px;
    margin: 50px auto;
    padding: 0 15px;
}

.post-detail {
    padding: 2em 0 1em;
}

.post-detail a {
    text-decoration: none;
    color: white;
}

.post-detail button {
   margin-top: 10px;
   color: white;
   background: #1762EE;
   display: block;
   border-radius: 20px;
}

.post-detail-img img {
    float: left;
    width: 300px;
    margin: 0 30px 20px -45px;
    border: 10px solid #DDDDDF;
    border-left-width: 0;
}

.post-detail h1 {
    color: #222;
    font-weight: 500;
    margin-bottom: 30px;
}

.post-detail-header {
    text-align: center;
}

.post-detail-meta {
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: .8em;
}

time,
.author {
    padding-right: 26px;
    position: relative;
}

time:after {
    content: "/";
    color: #DDDDDF;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.post-detail-content p {
       line-height: 1.5;
    margin-bottom: 1em;
    text-align: justify;
}

.post-detail .btn-post-edit {
    width: 150px;
    display: inline-block;
}

.post-detail .btn-post-delete {
    width: 150px;
    display: inline-block;
}

.delete-post-form {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.delete-post-form input {
    margin-top: 20px;
    border-radius: 20px;
    line-height: 30px;
    width: 30%;
    background: #1762EE;
    color: white;
}
/*ФОРМА ДОБАВЛЕНИЯ ЗАПИСИ*/

.add-post-form {
    position: relative;
    max-width: 500px;
    margin: 50px auto 0;
}

.add-post-form input {
    margin-top: 10px;
}

.add-post-form input {
    border-width: 1px;
    height: 25px;
    margin-top: 10px;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.add-post-form textarea {
    height: 40px;
    margin-top: 10px;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.submit-btn input {
    cursor: pointer;
    padding: 0;
    border: 0;
    background: none;
    display: inline-block;
    position: relative;
    width: 40%;
    background: #1762EE;
    color: white;
}

.submit-btn {
    margin: 0 auto;
}

/*Комментарии*/
.comment-wrapper {
    max-width: 800px;
    margin: auto;
    border-radius: 20px;
    padding: 20px 40px 20px 0px;
}

.comment-card {
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding: 5px;
}