.transparent {
    position: relative;
    max-width: 400px;
    padding: 60px 50px;
    margin: 50px auto 0;
    padding-bottom: 0;
}

.form-inner { position: relative; }

.form-inner h3 {
    text-align: center;
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.form-inner label {
    display: block;
    width: 100%;
    padding: 0 15px;
    font-size: 14px;
    margin: 5px;
}

.form-inner input {
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0 15 px;
    border-width: 1;
    line-height: 40px;
    border-radius: 20px;
}

.form-inner input[type="submit"] {
   margin-top: 10px;
   color: white;
   background: #1762EE;
}

.form-inner p { text-align: center; }

.github-link {
    margin: 0 auto;
    background: #1762EE;
    border-radius: 20px;
    border-width: 3;
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
}




/*Профиль пользователя*/

.profile-inner {
    margin: 50px auto 0 auto;
    max-width: 800px;
}

.profile-inner img {
    float: left;
    margin-right: 30px;
    border: 3px solid black;
}

.profile-inner form input { margin-top: 10px; }

.profile-inner h2 { text-align: center; }

.profile-inner a { text-decoration: none; color: black; }

.profile-btn {
    margin-top: 10px;
    width: 200px;
    cursor: pointer;
}