.transparent {
    position: relative;
    max-width: 400px;
    padding: 60px 50px;
    margin: 50px auto 0;
}

.form-inner { position: relative; }

.form-inner h3 {
    text-align: center;
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.form-inner label {
    display: block;
    width: 100%;
    padding: 0 15px;
    font-size: 14px;
    margin: 5px;
}

.form-inner input {
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0 15 px;
    border-width: 1;
    line-height: 40px;
    border-radius: 20px;
}

.form-inner input[type="submit"] {
   margin-top: 10px;
   color: white;
   background: #1762EE;
}

